html {
    font-size: 13.333vw;
}

footer {
    width: 7.5rem;
    height: 0.98rem;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #f0f0f0;
}

.foot-item i {
    display: block;
    width: 0.51rem;
    background: url("home.png") no-repeat center center/100%;
}

.foot-item:nth-of-type(1) i {
    height: 0.5rem;
}

.foot-item:nth-of-type(2) i {
    height: 0.44rem;
    background-image: url("info.png");
    background-size: 100%;
}

.foot-item:nth-of-type(3) i {
    height: 0.37rem;
    background-image: url("search.png");
    background-size: 100%;
}

.foot-item:nth-of-type(4) i {
    height: 0.44rem;
    width: 0.5rem;
    background-image: url("bag.png");
    background-size: 100%;
}

.foot-item:nth-of-type(2) i {
    height: 0.5rem;
    width: 0.47rem;
    background-image: url("user.png");
    background-size: 100%;
}