body{
    height: 2000px;
}
.box{
    width: 600px;
    height: 500px;
    border: 2px solid gray;
    background-image:url("flower.png");
    background-size: 300px;
    background-repeat: no-repeat;
    background-attachment: scroll;
}